body
{
	background-color: #f1f1f1;
}
h1
{
   text-align: center;
   color: white;
   background-color: black;
   padding : 15px;
}
#section
{
   float : right;
   color: white;
   background-color: #f1f1f1;
   padding : 15px;
}
#alphabets{
	text-align: center;
}
a {
	font-size: 100%;
	font-color: black;
	font-family: arial;
}
#addbutton
{  
  width: 100%;
  height: 30px;
  color: #282828 ;    
  font-weight: bold;    
  font-size: 100%;
}
#editbutton, #deletebutton
{
	width: 30%;
  	height: 30px;
  	color: #282828 ;    
  	font-weight: bold;    
  	font-size: 100%;
}