body
{
    background-image: "/images/backgroundAddressBook.jpg";
    background-color: #f1f1f1;
    /*position: fixed;*/
}
#header {
    background-color: black;
    width: 60%;
    height: 75px;
    margin-left: 20%;
}
h1
{ 
    text-align: center; 
    color: #966F1F;    
    padding : 15px;
}
#section
{
    float : right;
    color: white;
    background-color: #f1f1f1;
    padding : 15px;
}
a {
    float:right;
    font-size: 100%;    
    font-family: arial;
    color: blue;
    text-decoration: none;
}
#addLink
{  
    float: right;
    width: 15%;
    height: 30px;
    color: #282828 ;    
    font-weight: bold;    
    font-size: 150%;
}
#logoutLink
{  
    width: 15%;
    height: 30px;
    color: #282828 ;    
    font-weight: bold;    
    font-size: 150%;
    margin-left: 100%;
}
#editbutton, #deletebutton
{
    width: 30%;
    height: 30px;
    color: #282828 ;    
    font-weight: bold;    
    font-size: 100%;
}
#logoutbutton
{
    float: right;
    width: 10%;
    height: 30px;
    color: #282828 ;    
    font-weight: bold;    
    font-size: 100%;
}
#RegisterFormContent
{
    width: 60%;
    height: 100px;
    margin-top: 2%;
    margin-left: 30%;
}
#CenterContent 
{
    width: 100%;
    height: 600px;
    /*margin-left: 20%;*/
    border-radius: 10px;
    box-shadow: 2px 3px 2px #888888;
    background-color: rgb(182,165,140);
    float: left;
}
#content 
{
    width: 60%;
    height: 500px;
    border:solid 2px transparent;    
    margin-left: 20%;
    font-family: "Comic Sans MS", cursive, sans-serif;   
    /*background-color: #f1f1f1; */   
    box-shadow: 3px 3px 3px #888888;
}
table
{
    font-family: Arial;
    font-size: 20px; 
    text-decoration: none; 
    background-color: #E9EDF0;
}
th{
    font-weight: bold;
}
span 
{
    color:red;
}
#loginlink
{
    float:right;
    font-size: 60%;    
    font-family: arial;
    color: violet;
    text-decoration: underline; 
}
#footer
{
    text-align: center;
}
.submit, .reset
{
 color: #282828;
  font-weight: bold;
  font-size: 100%; 
}
input[type = email], input[type = password], input[type = radio],
input[type = text]
{
    padding: 0;
    height: 25px;
    position: relative;
    left: 0;
    outline: none;
    border: 1px solid #cdcdcd;
    border-color: rgba(0,0,0,.15);
    font-size: 16px;
}
