<!doctype html>
<html>
	<head>
		<title>Address Book</title>
		<meta content = "text/html;charset=utf-8" http-equiv = "Content-Type">
        <meta content = "utf-8" http-equiv="encoding">
        <link rel = "stylesheet" type = "text/css" href = "../../Public/css/listPage.css"/>
	</head>
	<body>
	<div id = content>
	<div id = "header">
		<h1>Welcome</h1>
	</div>
	<div id = "section">
		<button type = "button" id = "addbutton" onclick = "location.href = 'addContact.html';">Add Contact</button>
	</div>
	<br/>
	<br/>
	<div id = 'alphabets'>
		<a href = "index.php?id=a">A</a>
		<a href = "index.php?id=b">B</a>
		<a href = "index.php?id=c">C</a>
		<a href = "index.php?id=d">D</a>
		<a href = "index.php?id=e">E</a>
		<a href = "index.php?id=f">F</a>
		<a href = "index.php?id=g">G</a>
		<a href = "index.php?id=h">H</a>
		<a href = "index.php?id=i">I</a>
		<a href = "index.php?id=j">J</a>
		<a href = "index.php?id=k">K</a>
		<a href = "index.php?id=l">L</a>
		<a href = "index.php?id=m">M</a>
		<a href = "index.php?id=n">N</a>
		<a href = "index.php?id=o">O</a>
		<a href = "index.php?id=p">P</a>
		<a href = "index.php?id=q">Q</a>
		<a href = "index.php?id=r">R</a>
		<a href = "index.php?id=s">S</a>
		<a href = "index.php?id=t">T</a>
		<a href = "index.php?id=u">U</a>
		<a href = "index.php?id=v">V</a>
		<a href = "index.php?id=w">W</a>
		<a href = "index.php?id=x">X</a>
		<a href = "index.php?id=y">Y</a>
		<a href = "index.php?id=z">Z</a>
	</div>
	<br/>
	<div class = "table">
	<table border = "2" style = "width :100%"> 
		<thead><tr>
			<th>Name</th>
			<th>Address</th>
			<th>Phone Number</th>
			<th>Actions</th>
			</tr>
		</thead>
		<tbody>
		<tr>
		<td></td>
		<td></td>
		<td></td>
		<td><center><button type="button" id="editbutton" onclick="location.href='../Views/Register.php';">Edit Contact</button>
			<button type="button" id="deletebutton" onclick="location.href='../Views/Register.php';">Delete Contact</button></center></td></tr></tbody>
	</table>
	</div>
    </body>
</html>